:root {
    --white: rgb(255, 255, 255);
    --blue: rgb(0, 93, 230);
    --black: rgb(0, 0, 0);
    --lightGrey: rgb(241, 245, 247);
    --darkGrey: rgb(107, 110, 119);
    --error: rgb(223, 45, 45);
  }
  