@use '@/styles/mixins';

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 95%;
  min-height: 85px;
  margin-top: 20px;
  background-color: var(--lightGrey);
  border-radius: 20px;

  .gridChild {
    @include mixins.flexCenter;
  }
}
