.tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGrey);
  width: 100%;
  height: 100vh;
}

.table {
  height: 85%;
  width: 95%;
  border-radius: 5px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: var(--blue);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  input {
    padding: 10px 0 10px 15px;
    font-size: 20px;
    display: block;
    margin-left: 40px;
    width: 25%;
    border-radius: 10px;
    border: none;
  }
}

.addButton {
  margin-right: 40px;
  font-size: 18px;
  background-color: var(--white) !important;
  color: var(--blue) !important;
}

.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  overflow-y: auto;
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
